.orders-table-wrapper {
  height: calc(100% - 3rem);
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}
.OrdersTable {
  border-collapse: collapse;
  width: 100%;
}

.OrdersTable th {
  text-align: left;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1em white;
  color: var(--color-primary);
  padding: 0.5em 1em;
  z-index: 4;
}

.OrdersTable td {
  padding: 0.5em 1em;
}

.OrdersTable tbody tr {
  scroll-snap-align: end;
}
